@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playwrite+NZ+Basic:wght@100..400&family=Tajawal:wght@900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

body{
    background-image: linear-gradient(black, rgb(43, 42, 42));
    min-height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
}

body::after{
    content: "";
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: red;
    clip-path: circle(50% at right 70%);
    z-index: -1;
}

.container{
    width: 90%;
    height: 95%;
    background-image: linear-gradient(to right, rgba(43, 43, 43, 0.308), rgba(68, 68, 58, 0.692));
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: all 1s ease-in-out;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    width: 90%;
}

nav .logo{
    text-decoration: none;
    color: wheat;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 8px;
    font-family: "Anton", sans-serif;
    font-weight: 800;
}

nav ul li{
    display: inline-block;
    margin: 0 5px;
}

nav ul li a{
    text-decoration: none;
    color: wheat;
    font-size: 17px;
    font-weight: 600px;
}

.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    width: 90%;
}

.content .text{
    width: 45%;
    color: wheat;
}

.content .text h2{
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600px;
}

.content .text p{
    margin: 20px 0;
    line-height: 25px;
    font-size: 18px;
    letter-spacing: 2px;

}

.content .image{
    width: 40%;
}

.content .image img{
    filter: drop-shadow(0px 0px 35px rgba(63, 65, 63, 0.774));
    width: 100%;
    max-width: 500px;
}

footer h4{
    color: wheat;
    padding: 10px 0;
}


@media (max-width: 949px){
    body{
      min-height: 100svh;
      flex-direction: column;
    }
    .container{
      flex-grow: 1;
      margin: 30px 0;
    }
    nav .logo{
        font-size: 25px;
        font-weight: 500px;
    }
    
    .content{
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .content .text{
        width: 90%;
    }
    .content .image{
        width: 90%;
        display: flex;
        justify-content: center;
    }
    .content .image img{
        width: 70%;
        filter: drop-shadow(0px 25px 35px rgba(190, 181, 181, 0.767));
    }
    body::after{
        position: fixed;
        bottom: 0;
        clip-path: circle(70% at bottom);
    }

    footer h4{
    color: white;
    margin-top: 20px;
    }

}

@media (hover: hover){
    nav ul li a:hover{
        color: red;
    }
}

@media (hover:none){
    nav ul li a:active{
        color: red;
    }
}